body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-div{
    padding: 10px;
    background-color: aliceblue;
}
#signup-div{
    background-color: aliceblue;
}
#chat-div{
    background-color: aliceblue;
    padding-bottom: 50px;
}

.msg-container{
    position: fixed;
    bottom:0px;
    left:0px;
    padding:10px;
}

.flex{
    display: flex;
}

#navbar{
    font-family: sans-serif;
    min-width:100vw;
}